%h1
  Home
%div{ :style => 'width:30%'}
  MySQL-cellophane is a very thin wrapper around the Mysql Ruby adapter implementation. 
  MySQLc provides an API interface for those famaliar with SQL and wish to 
  have fine grained control over their queries, but don’t want to write each query manually.

  Requires mysql.rb (included in public folder above or from http://www.tmtm.org/en/ruby/mysql/)
%p
  Downloads:
  %ul
    %li
      %a{ :href => 'API_Documentation.txt'} Text-only Documentation
    %li
      %a{ :href => 'test_db_create_script.sql'} SQL script to create test database
    %li
      %a{ :href => 'documentation.pdf'} Documentation PDF
    %li
      %a{ :href => 'user_manual.pdf'} User Manual PDF
  %ul
    %li
      %a{ :href => 'mysql-cellophane.rb'} MySQL cellophane source
    %li
      %a{ :href => 'cello_spec.rb'} rSpec tests
    %li
      %a{ :href => 'mysql.rb'} ruby-mysql adapter source
