%h1
  Home
%p
  This is the homepage for MySQL Cellophane, a very thin wrapper for the MySQL implementation.
%p
  Downloads:
  %ul
    %li
      %a{ :href => 'API_Documentation.txt'} Text-only Documentation
    %li
      %a{ :href => 'test_db_create_script.sql'} SQL script to create test database
    %li
      %a{ :href => 'documentation.pdf'} Documentation PDF
    %li
      %a{ :href => 'user_manual.pdf'} User Manual PDF
  %ul
    %li
      %a{ :href => 'mysql-cellophane.rb'} MySQL cellophane source
    %li
      %a{ :href => 'cello_spec.rb'} rSpec source
    %li
      %a{ :href => 'mysql.rb'} mysql adapter source
