!!! 5
%html
  %head
    %title MySQL Cellophane - Ruby
  %body
    %h1 
      %a{:href => '/' } MySQL Cellophane - Ruby Edition
    #menu 
      -#{:style => 'float:right;'}
      %a{:href => '/'} Home
      |
      %a{:href => 'usage'} Use
      |
      %a{:href => 'doc/index.html'} Docs
      |
      %a{:href => 'https://github.com/chrismar035/mysql-cellophane'} Codez
      |
      %a{:href => 'rspec.html'} Proof

    #container
      = yield
